[Unit]
Description=Desktop Session Manager
Documentation=man:systemd-user-sessions.service(8)
After=selkies.service dbus.service
Requires=selkies.service

[Service]
Type=simple
Environment=HOME=/config
Environment=DISPLAY=:1
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_DESKTOP=XFCE
Environment=LC_ALL=
Environment=NO_DECOR=
Environment=NO_FULL=
Environment=NO_GAMEPAD=
ExecStartPre=/bin/bash -c 'until xdpyinfo -display :1 >/dev/null 2>&1; do echo "Waiting for X server..."; sleep 1; done'
ExecStart=/bin/bash /etc/selkies/svc-de.sh
WorkingDirectory=/config
Restart=always
RestartSec=5
TimeoutStartSec=60

[Install]
WantedBy=default.target
