[Unit]
Description=Desktop Environment for Selkies
After=selkies.service selkies-setup.service
Requires=selkies.service selkies-setup.service

[Service]
Type=simple
User=abc
Group=abc
Environment=HOME=/config
Environment=DISPLAY=:1
Environment=LC_ALL=
Environment=NO_DECOR=
Environment=NO_FULL=
Environment=NO_GAMEPAD=
ExecStartPre=/bin/bash /etc/selkies/init-video.sh
ExecStartPre=/bin/bash -c 'until xdpyinfo -display :1 >/dev/null 2>&1; do echo "Waiting for X server..."; sleep 1; done'
ExecStart=/bin/bash /etc/selkies/svc-de.sh
WorkingDirectory=/config
Restart=always
RestartSec=5
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target 