[Unit]
Description=Desktop Environment for Selkies
After=selkies.service selkies-setup.service user@1000.service
Requires=selkies.service selkies-setup.service
Wants=user@1000.service

[Service]
Type=simple
User=appbox
Group=appbox
PAMName=login
Environment=HOME=/config
Environment=DISPLAY=:1
Environment=NO_DECOR=
Environment=NO_FULL=
Environment=NO_GAMEPAD=
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_DESKTOP=XFCE
Environment=XDG_DATA_DIRS=/var/lib/snapd/desktop:/var/lib/flatpak/exports/share:/home/appbox/.local/share/flatpak/exports/share:/usr/local/share:/usr/share
ExecStartPre=/bin/bash -c 'until xdpyinfo -display :1 >/dev/null 2>&1; do echo "Waiting for X server..."; sleep 1; done'
ExecStart=/bin/bash /etc/selkies/svc-de.sh
WorkingDirectory=/config
Restart=always
RestartSec=5
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target 