[Unit]
Description=PulseAudio Sound Server for Selkies
After=xvfb.service
Requires=xvfb.service

[Service]
Type=simple
User=abc
Group=abc
Environment=PULSE_RUNTIME_PATH=/defaults
Environment=HOME=/config
ExecStart=/usr/local/bin/start-selkies-pulseaudio.sh
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
# No WantedBy - this service is started by dependency chain
